<div class="max-w-md mx-auto bg-white rounded p-8 shadow-md">
    <h1 class="text-2xl font-bold my-6 text-black">Welcome to my CyberSpace Place!</h1>

    {{ user:login_form }}
    {{ if errors }}
    <div class="bg-red-300 text-white p-2 mb-4">
        {{ errors }}
        {{ value }}<br>
        {{ /errors }}
    </div>
    {{ /if }}

    {{ if success }}
    <div class="bg-green-300 text-white p-2 mb-4">
        {{ success }}<br>
    </div>
    {{ /if }}

    <div class="mb-4">
        <label for="email" class="block text-gray-700">Email</label>
        <input id="email" type="email" name="email" value="{{ old:email }}" class="w-full border border-gray-300 rounded px-3 py-2 mt-1 text-black">
    </div>

    <div class="mb-6">
        <label for="password" class="block text-gray-700">Password</label>
        <input id="password" type="password" name="password" value="{{ old:password }}" class="w-full border border-gray-300 rounded px-3 py-2 mt-1" style="color: black;">
    </div>

    <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-blue-600">Log in</button>
    {{ /user:login_form }}
</div>

<!--<div class="max-w-md mx-auto bg-red-700 rounded p-8 shadow-md">
    <a href="{{ user:logout_url }}">Log out</a>
</div> -->

<!--{{ content }}
{{ partial:blog/listing limit="5" }}
    <h2 class="p-5">Recent Blog Posts</h2>
{{ /partial:blog/listing }}
-->

{{ if logged_in }}
{{ redirect to="/blog" }}
{{ /if }}
